
  /**/
  body {
    background-size: auto, auto, cover; /* adjust sizes */
    background: linear-gradient(90deg, #0d1b2a 0%, #1b263b 33%,#415a77 66%,#778da9 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    padding: 30px;
    box-sizing: border-box;
    
  }

  .background-pattern{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* makes sure it fills nicely */
    z-index: -1; /* behind everything */

  }
  
  .topnav {
    padding: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom:  40px;
    width: 100%;          
    justify-content: space-between; /* Align home to the left, book to the right */
    border: solid black;
  }

  a {

    color: white; 
    text-decoration: none;
  }
  
  a:hover {
    color: white; 
  }
  
  a:active {
    color: white;
  }
  
  a:visited {
    color: white;
  }

  .home{
    position: relative; /* to appear above */
    z-index: 1;
    padding-right: 100px;
    color : white;
    font-size: 50px;

  }

  .prices,.contact,.gallery{
    padding-right: 50px;
    margin-top: 10px;
    font-size: 20px
  }

  
  .prices:hover,.contact:hover,.gallery:hover {
    transform: scale(1.25);
    cursor: pointer;

  }
  
  .book,.choose-plan {
    color: #1b263b;
    background: white;
    margin-left: 70px;
    padding: 15px 30px;
    font-size: 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;

  }
  
  .book:hover,.choose-plan:hover {
    background: linear-gradient(90deg, #0d1b2a 0%, #1b263b 33%,#415a77 66%,#778da9 100%);
    color: white;
    transform: scale(1.05);
  }
  
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column; 
    padding-left: 7%;
    padding-right: 7%;
    border: solid black;

  }

  .description{
    padding: 2px;
    display: flex;    
    width: 100%;          
    overflow: hidden;   
    margin-bottom: 40px;
    color : white;
    border: solid black;
    justify-content: center;

}

  .description-title{
    flex: 1;              
    display: flex;         
    align-items: center;  
    justify-content: center; 
    font-size: 35px;
    font-weight: bold;
    padding: 20px;

  }

  .description-data {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    font-size: 20px;
    padding: 40px;
    gap: 20px; 
  }
  

  .pic {
    border: solid black;

    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px; /* make image corners rounded too */
    width: 100%; /* responsive */
    text-align: center;
    top: 50%;
    left: 50%;
  }
  
  .main-img {
    width: 100%;
    height: auto;
    border-radius: 20px; /* make image corners rounded too */
  }